<section class="stats-container">
  <div class="filtros-stats">
    <div class="botones-rango">
      <button
        (click)="seleccionarRango('hoy')"
        [class.active]="rangoSeleccionado() === 'hoy'">Hoy</button>
      <button
        (click)="seleccionarRango('mes')"
        [class.active]="rangoSeleccionado() === 'mes'">Mes</button>
      <button
        (click)="seleccionarRango('año')"
        [class.active]="rangoSeleccionado() === 'año'">Año</button>
      <button
        (click)="seleccionarRango('todo')"
        [class.active]="rangoSeleccionado() === 'todo'">Todo</button>
    </div>

    <div class="inputs-fecha">
      <input type="date" #inicio (change)="cargarDatos(inicio.value, fin.value)">
      <input type="date" #fin (change)="cargarDatos(inicio.value, fin.value)">
    </div>
  </div>

  <div class="categoria-separador">
    <span>Estadísticas avanzadas</span>
  </div>

  <!-- KPIs Superiores-->
  <div class="kpi-grid">
    <div class="card-stat">
      <span class="label"> Ventas Totales </span>
      <p class="valor">{{ stats()?.ventasTotales | currency: 'ARS' : 'symbol-narrow' : '1.2-2' }}</p>
    </div>

    <div class="operador">-</div>

    <div class="card-stat">
      <span class="label"> Gastos Totales </span>
      <p class="valor">{{ stats()?.gastosTotales | currency: 'ARS' : 'symbol-narrow' : '1.2-2' }}</p>
    </div>

    <div class="operador">=</div>

    <div class="card-stat">
      <span class="label"> Ganancia </span>
      <p class="valor">
        {{ (stats()?.ventasTotales - stats()?.gastosTotales) | currency: 'ARS' : 'symbol-narrow' : '1.2-2' }}
      </p>
    </div>
  </div>

  <!-- Gráficos Principales -->
  <div class="charts-grid">
    <div class="card-grafico">
      <h3>{{ tituloVentas() }}</h3>
      <div class="canvas-container">
        <canvas baseChart [plugins]="donutPlugins"
          [data]="donutData"
          [type]="'doughnut'"
          [options]="donutOptions">
        </canvas>
      </div>
    </div>

    <div class="card-grafico">
      <h3>{{ tituloTop5() }}</h3>
      <div class="canvas-container">
        <canvas baseChart
          [data]="barData"
          [type]="'bar'"
          [options]="barOptions">
        </canvas>
      </div>
    </div>
  </div>

  <div class="analiticas-subgrid">

      <div class="card-mini-stat">
        <span class="mini-label">Producto menos vendido</span>
        <p class="mini-valor-destacado rojo">{{ stats()?.productoMenosVendido?.label || 'Sin registros' }}</p>
        <span class="mini-subtext">Vendido: {{ stats()?.productoMenosVendido?.value || 0 }} u.</span>
      </div>

      <div class="card-mini-stat">
        <span class="mini-label">Categoría Líder</span>
        <p class="mini-valor-destacado violeta">{{ stats()?.categoriaTop || 'Sin registros' }}</p>
        <span class="mini-subtext">Mayor volumen monetario</span>
      </div>

      <div class="card-mini-stat">
        <span class="mini-label">Ganancia promedio por día</span>
        <p class="mini-valor">{{ stats()?.gananciasPromedioDia | currency: 'ARS' : 'symbol-narrow' : '1.2-2' }}</p>
        <span class="mini-subtext">Rendimiento diario</span>
      </div>

      <div class="card-mini-stat">
        <span class="mini-label">Mes récord de Ganancia</span>
        <p class="mini-valor-destacado rosa">{{ stats()?.mejorMes || 'Sin registros' }}</p>
        <span class="mini-subtext">Pico histórico</span>
      </div>

    </div>
</section>
