<section class="stats-container">
  <div class="filtros-stats">
    <div class="botones-rango">
      <button
        (click)="seleccionarRango('hoy')"
        [class.active]="rangoSeleccionado() === 'hoy'">Hoy</button>
      <button
        (click)="seleccionarRango('mes')"
        [class.active]="rangoSeleccionado() === 'mes'">Mes</button>
      <button
        (click)="seleccionarRango('año')"
        [class.active]="rangoSeleccionado() === 'año'">Año</button>
      <button
        (click)="seleccionarRango('todo')"
        [class.active]="rangoSeleccionado() === 'todo'">Todo</button>
    </div>

    <div class="inputs-fecha">
      <input type="date" #inicio (change)="cargarDatos(inicio.value, fin.value)">
      <input type="date" #fin (change)="cargarDatos(inicio.value, fin.value)">
    </div>
  </div>

  <!-- KPIs Superiores-->
  <div class="kpi-grid">
    <div class="card-stat">
      <span class="label"> Ventas Totales </span>
      <p class="valor">{{ stats()?.ventasTotales | currency: 'USD' }}</p>
    </div>

    <div class="operador">-</div>

    <div class="card-stat">
      <span class="label"> Gastos Totales </span>
      <p class="valor">{{ stats()?.gastosTotales | currency:'USD' }}</p>
    </div>

    <div class="operador">=</div>

    <div class="card-stat">
      <span class="label"> Ganancia </span>
      <p class="valor">
        {{ (stats()?.ventasTotales - stats()?.gastosTotales) | currency:'USD' }}
      </p>
    </div>
  </div>

  <!-- Gráficos Principales -->
  <div class="charts-grid">
    <div class="card-grafico">
      <h3>Ventas por Método</h3>
      <div class="canvas-container">
        <canvas baseChart [plugins]="donutPlugins"
          [data]="donutData"
          [type]="'doughnut'"
          [options]="donutOptions">
        </canvas>
      </div>
    </div>

    <div class="card-grafico">
      <h3>
        Tendencia
        {{ rangoSeleccionado() === 'hoy' ? 'por Hora' :
          (rangoSeleccionado() === 'mes' ? 'Diaria' : 'Mensual') }}
      </h3>
      <div class="canvas-container">
        <canvas baseChart
          [data]="lineData"
          [type]="'line'"
          [options]="lineOptions">
        </canvas>
      </div>
    </div>
  </div>
</section>
