@import '../../../styles/form-style.scss';

.form-container::before {
  background-image: url('/assets/images/fondoRegistro.png');
}

.image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.image img {
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .image {
    width: 40%;
  }

  .image img {
      max-width: 100%;
  }

  .form-container {
    gap: 1rem;
  }
}
