<main>
  <section class="form">
    <h2>Pedido</h2>

    <form [formGroup]="form" (ngSubmit)="savePedido()">

      <div class="campo">
        <label>Tipo de Pedido: </label>
        <select formControlName="tipoPedido">
          <option [ngValue]="null" disabled selected>Seleccione el Tipo</option>
          <option value="COMPRA">COMPRA</option>
          <option value="VENTA">VENTA</option>
        </select>
        @if (form.get('tipoPedido')?.invalid && form.get('tipoPedido')?.touched) {
          <span class="error">El tipo de pedido es requerido.</span>
        }
      </div>


      <div class="campo">
        <label>Método de Pago: </label>
        <select formControlName="tipoTransaccion">
          <option [ngValue]="null" disabled selected>Seleccione el Método</option>
          <option value="EFECTIVO">EFECTIVO</option>
          <option value="DEBITO">DÉBITO</option>
        </select>
        @if (form.get('tipoTransaccion')?.invalid && form.get('tipoTransaccion')?.touched) {
          <span class="error">El método de pago es requerido.</span>
        }
      </div>


      @if (form.get('tipoPedido')?.value === 'VENTA') {
        <div class="campo">
          <label>Cliente:</label>
          <select formControlName="origen_id">
            <option [ngValue]="null" disabled selected>Seleccione un cliente</option>
            @for (cliente of clientes(); track $index) {
              <option [ngValue]="cliente.clienteId">
                {{ cliente.nombre }} {{ cliente.dni }}
              </option>
            }
          </select>
        </div>

        @if (form.get('tipoTransaccion')?.value === 'DEBITO') {
          <div class="campo">
            <label>Cuenta bancaria:</label>
            <select formControlName="cuentaBancaria">
              <option [ngValue]="null" disabled selected>Seleccione una cuenta</option>
              @for (cuenta of cuentasBancarias(); track $index) {
                <option [ngValue]="cuenta.cuentaBancariaId">
                  CBU: {{ cuenta.cbu }} — Saldo: {{ cuenta.saldo }}
                </option>
              }
            </select>
          </div>
        }
      }

      @if (form.get('tipoPedido')?.value === 'COMPRA') {
        <div class="campo">
          <label>Proveedor:</label>
          <select formControlName="destino_id">
            <option [ngValue]="null" disabled selected>Seleccione un proveedor</option>
            @for (prov of proveedores(); track $index) {
              <option [ngValue]="prov.proveedorId">
                {{ prov.nombre }}
              </option>
            }
          </select>
        </div>

        @if (form.get('tipoTransaccion')?.value === 'DEBITO') {
          <div class="campo">
            <label>Cuenta bancaria (Origen Tienda):</label>
            <select formControlName="cuentaBancaria">
              <option [ngValue]="null" disabled selected>Seleccione una cuenta</option>
              @for (cuenta of cuentasBancarias(); track $index) {
                <option [ngValue]="cuenta.cuentaBancariaId">
                  CBU: {{ cuenta.cbu }} — Saldo: {{ cuenta.saldo }}
                </option>
              }
            </select>
          </div>
        }
      }


      <div class="botones">
        <button type="submit" [disabled]="form.invalid">
          {{ isEditMode() ? 'Actualizar' : 'Registrar' }}
        </button>

        @if (isEditMode()) {
          <button class="btn" type="button" (click)="cancelEdit()">Cancelar</button>
        }
      </div>
    </form>
  </section>

  <section class="detalles">
    @if (pedidoCreado(); as pedido) {
      <h2>Detalles del Pedido nro {{ pedido.pedidoId }}</h2>
      <app-detalles-pedido [pedido]="pedido"></app-detalles-pedido>

      <div class="botones-detalles">
        <button type="button" (click)="cancelarCreacion()">Cancelar Pedido</button>
      </div>
    }
    @else {
      <h2>Detalles</h2>
      <p>Primero debe registrar el pedido para poder agregar detalles.</p>
    }
  </section>
</main>
