
<div class="form-container">
  <div class="card">

    <div class = "rectangulito"></div>

      <div>
      <h2> {{isEditMode() ? 'Editar Empleado' : 'Registrar Empleado'}} </h2>

      <form [formGroup]="form" (ngSubmit)="saveEmpleado()">

        <div class = "campo">
          <label>Nombre<span class="obligatorio">*</span>: </label>
          <input type="text" formControlName="nombre">
          @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
            <span class = "error">El campo no puede estar vacío ni contener carácteres no alfabéticos.</span>
          }
        </div>

        <!-- Campo Apellido -->
        <div class="campo">
          <label>Apellido<span class="obligatorio">*</span>: </label>
          <input type="text" formControlName="apellido" placeholder="Ingrese el apellido">
          @if (form.get('apellido')?.invalid && form.get('apellido')?.touched) {
          <span class="error">El campo no puede estar vacío ni contener caracteres no alfabéticos.</span>
          }
        </div>

        <div class = "campo">
          <label>Dni<span class="obligatorio">*</span>: </label>
          <input type="number" formControlName="dni">
          @if (form.get('dni')?.invalid && form.get('dni')?.touched) {
            <span class = "error">El DNI debe tener enter 6 y 9 dígitos</span>
          }
        </div>

        <!-- Campo Edad -->
        <div class="campo">
          <label>Fecha de Nacimiento<span class="obligatorio">*</span>: </label>
          <input type="date" formControlName="fechaNacimiento">
          @if (form.get('fechaNacimiento')?.invalid && form.get('fechaNacimiento')?.touched) {
          <span class="error">El campo no puede estar vacío y debe ser una fecha válida (menor a 120 y mayor a 0
            años)</span>
          }
        </div>

        <div class = "campo">
          <label>Email<span class="obligatorio">*</span>: </label>
          <input type="email" formControlName="email">
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <span class = "error">El email debe ser válido.</span>
          }
        </div>

        <div class = "campo">
          <label>Contraseña<span class="obligatorio">*</span>: </label>

          <div class="password-input-wrapper">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="contraseña"
            >

            <button
              type="button"
              class="toggle-password"
              (click)="togglePasswordVisibility()"
            >
              <span class = "material-icons">
                {{ passwordVisible ? 'visibility' : 'visibility_off ' }}
              </span>
            </button>
          </div>

          @if (form.get('contraseña')?.invalid && form.get('contraseña')?.touched) {
            <span class = "error">La contraseña no debe estar vacía.</span>
          }
        </div>

        <div class="botones">
          <button type="submit"[disabled]="form.invalid">
            {{ isEditMode() ? 'Actualizar' : 'Registrar' }}
          </button>

        @if (isEditMode()) {
          <button type="button" (click)="cancelEdit()" >Cancelar</button>
        }
        </div>

      </form>
    </div>
  </div>
</div>

