@import '../../../styles/form-style.scss';

.form-container::before {
  background-image: url('/assets/images/fondoRegistro.png');
}

.image {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.image img {
  width: 80rem;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .image img {
        max-width: 400px;
    }
}
