@import '../../../styles/form-style.css';

@media (max-aspect-ratio: 1/1) {
    .image img {
        max-width: 40rem;
    }
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 3.5rem;
}

.toggle-password {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0;

  color: var(--color2);
}

.toggle-password:focus {
  outline: none;
}
