.tienda-page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  position: relative;
}

.central-container {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 90rem;
}

.glass-card {
  background: var(--bg-pag2);
  border-radius: 3rem;
  border: 1px solid rgba(39, 1, 25, 0.1);
  padding: 3.5rem;
  box-shadow: 0 2.5rem 5rem rgba(95, 7, 51, 0.4);
}

.header-section h1 {
  color: var(--letra1);
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--letra1-leve);
  margin-bottom: 2rem;
}

/* --- Grid y Campos --- */
.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
}

.campo label {
  color: var(--letra1-leve);
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

/* Inputs */
.campo input, .campo select {
  display: block;
  width: 100% !important; /* Fuerza a ocupar el 100% de la columna del grid */
  min-width: 0;
  background: var(--bg-input);
  border: 1px solid var(--borde-hover);
  border-radius: 3rem;
  padding: 1.1rem;
  color: var(--letra1-leve);
  font-size: 1.1rem;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* placeholder */
.campo input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--letra1);
}

.campo input:focus {
  border-color: var(--borde-hover);
  box-shadow: 0 0 1.5rem rgba(248, 187, 208, 0.3);
}

/* --- Dirección --- */
summary {
  font-size: 1.6rem;
  color: var(--letra1);
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-save {
  background-color: var(--btn);
  color: var(--letra1);
  border: none;
  padding: 1.2rem 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.4s ease;
  box-shadow: 0 0.4rem 1.5rem rgba(27, 1, 13, 0.2);
}

.btn-save:hover:not(:disabled) {
  background-color: var(--btn-hover);
  transform: translateY(-0.3rem);
  box-shadow: 0 0 2rem rgba(248, 187, 208, 0.6),
              0 0 4rem rgba(248, 187, 208, 0.4);
}

.btn-save:disabled {
  background-color: var(--borde);
  color: var(--letra1-leve);
  cursor: not-allowed;
}

@media (max-aspect-ratio: 1/1) {
  .glass-card {
    padding: 2rem;
  }
  .grid-form {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (max-aspect-ratio: 9/16) {
  .glass-card {
    padding: 1.2rem;
  }
  .campo label {
    font-size: 1.3rem;
  }
  .campo input, .campo select {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .btn-save {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }
}
