@import '../../../styles/tabla-style.css';

.filtros-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.botones-rango {
  display: flex;
  gap: 10px;
}

.botones-rango button {
  background: var(--bg-pag2);
  border: 1px solid var(--borde);
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.botones-rango button:hover {
  background: #ff4d8d;
  border-color: #ff4d8d;
}

.botones-rango button.active {
  background: #a32e59;
  border-color: #b13562;
  color: white;
  font-weight: bold;
}

.filtros-stats input {
  border-radius: 50px;
  padding: 8px 15px;
  border: 1px solid var(--borde);
  background: var(--bg-pag2);
  color: white;
}

.tablaBody td.tipo-compra {
  color: #d93025;
  font-weight: bold;
}

.tablaBody td.tipo-venta {
  color: #0f9d58;
  font-weight: bold;
}

.tablaBody td.monto-compra {
  color: #d93025;
  font-weight: bold;
}

.tablaBody td.monto-venta {
  color: #0f9d58;
  font-weight: bold;
}
