  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo-container">
         <img class="logo"
        [src]="theme.isOscuro()? '/assets/images/Logo-oscuro-MercadoCerezo.png': '/assets/images/Logo-MercadoCerezo.png'"
      >
      <h2 class="titulo">Mercado del Cerezo</h2>
    </div>

 <nav class="sidebar-menu">

  <a routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">
    Inicio
  </a>

  <!-- VENTAS -->
  <div>
    <div class="item" (click)="toggleMenu('ventas')" style="display:flex; justify-content:space-between; align-items:center;">
      Ventas
      <span [style.transform]="openMenu === 'ventas' ? 'rotate(180deg)' : 'rotate(0deg)'" style="transition:0.2s;">
        ▼
      </span>
    </div>

    @if (openMenu === 'ventas') {
      <div style="display:flex; flex-direction:column; margin-left:1.5rem; margin-top:0.3rem;">

        <a routerLink="/menu/ventas" routerLinkActive="active" class="item">
          Ver ventas
        </a>

        <a routerLink="/menu/pedidos" routerLinkActive="active" class="item">
          Pedidos
        </a>

        <a routerLink="/menu/transacciones" routerLinkActive="active" class="item">
          Transacciones
        </a>

      </div>
    }
  </div>

  <!-- CAJA -->
  <div>
    <div class="item" (click)="toggleMenu('caja')" style="display:flex; justify-content:space-between; align-items:center;">
      Caja
      <span [style.transform]="openMenu === 'caja' ? 'rotate(180deg)' : 'rotate(0deg)'" style="transition:0.2s;">
        ▼
      </span>
    </div>

    @if (openMenu === 'caja') {
      <div style="display:flex; flex-direction:column; margin-left:1.5rem; margin-top:0.3rem;">

        <a routerLink="/menu/caja" routerLinkActive="active" class="item">
          Ver caja
        </a>

        <a routerLink="/menu/cierre-caja" routerLinkActive="active" class="item">
          Cierre de caja
        </a>

      </div>
    }
  </div>

  <a routerLink="/menu/estadisticas" routerLinkActive="active" class="item">
    Estadísticas
  </a>

  <a routerLink="/menu/personal" routerLinkActive="active" class="item">
    Personal
  </a>

</nav>

  </aside>
