<!-- SIDEBAR -->
@if (isSidebarOpen) {
  <div class="sidebar-overlay" (click)="closeMobileMenu()"></div>
}

<aside class="sidebar" [class.collapsed]="!isSidebarOpen">
  <div class="logo-container">
    @if (tiendaService.tienda(); as infoTienda) {
      @if (infoTienda.url) {
        <img class="logo" [src]="infoTienda.url" alt="Logo Tienda">
      } @else {
        <img class="logo" [src]="theme.isOscuro() ? 'assets/images/Logo-oscuro-MercadoCerezo.png' : 'assets/images/Logo-MercadoCerezo.png'" alt="Logo Defecto">
      }
      <h2 class="titulo">
        {{ infoTienda.nombreFantasia ? infoTienda.nombreFantasia : 'Mercado del Cerezo' }}
      </h2>
    } @else {
      <img class="logo" [src]="theme.isOscuro() ? 'assets/images/Logo-oscuro-MercadoCerezo.png' : 'assets/images/Logo-MercadoCerezo.png'" alt="Logo Defecto">
      <h2 class="titulo">Mercado del Cerezo</h2>
    }
  </div>
  <button class="sidebar-close-btn" (click)="closeMobileMenu()" aria-label="Cerrar menú">
    <span class="material-symbols-outlined">arrow_back_ios</span>
  </button>

  <nav class="sidebar-menu">
    <a routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item" (click)="closeMobileMenu()">
      <div class="item-content">
        <img src="assets/images/sakura-white-icon.png" class="menu-icon">
        <span>Inicio</span>
      </div>
    </a>

    @if(currentRole == "ADMIN" || currentRole == "DUENIO"){
      <a routerLink="/configuracion-tienda" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
        <div class="item-content">
          <img src="assets/images/shop-icon.png" class="menu-icon">
          <span>Mi tienda</span>
        </div>
      </a>
    }

    @if(currentRole != "EMPLEADO"){
    <a routerLink="/menu/estadisticas" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
      <div class="item-content">
        <img src="assets/images/excel-icon.png" class="menu-icon">
        <span>Resumen del negocio</span>
      </div>
    </a>
    }

    <div>
      <div class="item dropdown-header" (click)="toggleMenu('inventario')">
        <div class="item-content">
          <img src="assets/images/inventario-icon.png" class="menu-icon">
          <span>Inventario</span>
        </div>
        <span class="icon-arrow" [class.rotated]="openMenu === 'inventario'">▼</span>
      </div>
      @if (openMenu === 'inventario') {
        <div class="submenu">
          <a routerLink="/menu/productos" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/productos-icon.png" class="menu-icon">
              <span>Productos</span>
            </div>
          </a>
          <a routerLink="/menu/lotes" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/lote-icon.png" class="menu-icon">
              <span>Lotes</span>
            </div>
          </a>
        </div>
      }
    </div>

    <div>
      <div class="item dropdown-header" (click)="toggleMenu('comercial')">
        <div class="item-content">
          <img src="assets/images/pedido-icon.png" class="menu-icon">
          <span>Compras y ventas</span>
        </div>
        <span class="icon-arrow" [class.rotated]="openMenu === 'comercial'">▼</span>
      </div>
      @if (openMenu === 'comercial') {
        <div class="submenu">
          <a routerLink="/menu/pedidos" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/pedido-icon.png" class="menu-icon">
              <span>Pedidos</span>
            </div>
          </a>
          <a routerLink="/menu/transacciones" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/transaccion-icon.png" class="menu-icon">
              <span>Transacciones</span>
            </div>
          </a>
          <a routerLink="/menu/cuentas-bancarias" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/cuentaB-icon.png" class="menu-icon">
              <span>Caja y Banco</span>
            </div>
          </a>
        </div>
      }
    </div>

    <div>
      <div class="item dropdown-header" (click)="toggleMenu('entidades')">
        <div class="item-content">
          <img src="assets/images/user-icon.png" class="menu-icon">
          <span>Personas</span>
        </div>
        <span class="icon-arrow" [class.rotated]="openMenu === 'entidades'">▼</span>
      </div>
      @if (openMenu === 'entidades') {
        <div class="submenu">
          @if(currentRole == 'ADMIN') {
            <a routerLink="/menu/personas" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
              <div class="item-content">
                <img src="assets/images/persona-icon.png" class="menu-icon">
                <span>Personas</span>
              </div>
            </a>
            <a routerLink="/menu/usuarios" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
              <div class="item-content">
                <img src="assets/images/user-icon.png" class="menu-icon">
                <span>Usuarios</span>
              </div>
            </a>
          }
          @if(currentRole == 'ADMIN' || currentRole == 'DUENIO') {
            <a routerLink="/menu/duenios" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
              <div class="item-content">
                <img src="assets/images/duenio-icon.png" class="menu-icon">
                <span>Dueños</span>
              </div>
            </a>
            <a routerLink="/menu/empleados" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
              <div class="item-content">
                <img src="assets/images/empleado-icon.png" class="menu-icon">
                <span>Empleados</span>
              </div>
            </a>
          }
          <a routerLink="/menu/clientes" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/clientes-icon.png" class="menu-icon">
              <span>Clientes</span>
            </div>
          </a>
          <a routerLink="/menu/proveedores" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/proveedor-icon.png" class="menu-icon">
              <span>Proveedores</span>
            </div>
          </a>
        </div>
      }
    </div>

    <div>
      <div class="item dropdown-header" (click)="toggleMenu('historial')">
        <div class="item-content">
          <img src="assets/images/historial-icon.png" class="menu-icon">
          <span>Actividad reciente</span>
        </div>
        <span class="icon-arrow" [class.rotated]="openMenu === 'historial'">▼</span>
      </div>
      @if (openMenu === 'historial') {
        <div class="submenu">
          <a routerLink="/menu/historial/personas" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Personas</span>
            </div>
          </a>
          <a routerLink="/menu/historial/usuarios" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Usuarios</span>
            </div>
          </a>
          <a routerLink="/menu/historial/clientes" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Clientes</span>
            </div>
          </a>
          <a routerLink="/menu/historial/proveedores" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Proveedores</span>
            </div>
          </a>
          <a routerLink="/menu/historial/empleados" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Empleados</span>
            </div>
          </a>
          <a routerLink="/menu/historial/duenios" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Dueños</span>
            </div>
          </a>
          <a routerLink="/menu/historial/tiendas" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Tiendas</span>
            </div>
          </a>
          <a routerLink="/menu/historial/productos" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Productos</span>
            </div>
          </a>
          <a routerLink="/menu/historial/inventarios" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Inventarios</span>
            </div>
          </a>
          <a routerLink="/menu/historial/lotes" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Lotes</span>
            </div>
          </a>
          <a routerLink="/menu/historial/cuentas-bancarias" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Cuentas Bancarias</span>
            </div>
          </a>
          <a routerLink="/menu/historial/transacciones" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Transacciones</span>
            </div>
          </a>
          <a routerLink="/menu/historial/pedidos" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Pedidos</span>
            </div>
          </a>
          <a routerLink="/menu/historial/detalles-pedido" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
            <div class="item-content">
              <img src="assets/images/historial-icon.png" class="menu-icon">
              <span>Historial Detalles Pedido</span>
            </div>
          </a>
        </div>
      }
    </div>

    <a routerLink="/menu/cierre-caja" routerLinkActive="active" class="item" (click)="closeMobileMenu()">
      <div class="item-content">
        <img src="assets/images/warning-icon-white.png" class="menu-icon">
        <span>Cierre de Caja</span>
      </div>
    </a>
  </nav>
</aside>
