/* FONDO */
.login-page {
  height: 100vh;
  background-color: var(--vino-tema_claro-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.login-card {
  width: 70%;
  height: 70%;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}

/* IZQUIERDA */
.login-izquierda {
  width: 42%;
  background-color: var(--salmon-tema_claro-2);
  position: relative;
}

.badge {
  position: absolute;
  top: 22%;
  right: -5%;

  background: var(--base-tema_claro-2);
  color: var(--vino-tema_claro-2);

  padding: 2.5% 10%;
  border-radius: 20px;

  font-size: 1vw;
  font-weight: 700;
  letter-spacing: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}

/* DERECHA */
.login-derecha {
  width: 58%;
  background: var(--base-tema_claro-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 60%;
  text-align: center;
}

/* ICONO */
.icon {
  width: 18%;
  aspect-ratio: 1;
  background: var(--vino-tema_claro-2);
  border-radius: 50%;
  margin: 0 auto 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
  box-shadow: 0px 0.5vw 1.5vw rgba(0,0,0,0.25);
}

/* TITULO */
.login-content h2 {
  color: var(--vino-tema_claro-2);
  margin-bottom: 5%;
  font-weight: 500;
  font-size: 1.5vw;
}

/* INPUTS */
.input-group {
  margin-bottom: 5%;
  position: relative;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 0.2vw solid var(--salmon-tema_claro-2);
  padding: 2% 3%;
  background: transparent;
  outline: none;
  font-size: 0.9vw;
  color: var(--salmon-tema_claro-4);
}

/* PLACEHOLDER */
.input-group input::placeholder {
  color: var(--salmon-tema_claro-2);
  padding: 0% 4%;
}

/* BOTÓN */
.btn-login {
  background: var(--vino-tema_claro-2);
  color: var(--base-tema_claro-2);
  border: none;
  padding: 2% 8%;
  border-radius: 2vw;
  margin-top: 5%;
  cursor: pointer;
  transition: 0.25s;
  font-size: 0.9vw;
}

/* HOVER */
.btn-login:hover {
  background: var(--vino-tema_claro-2);
}

.error {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 0.3rem;

  font-size: 0.75rem;
  font-weight: 600;
  color: var(--salmon-tema_claro-4);

  background: var(--base-tema_claro-2);
  border: 0.1rem solid var(--salmon-tema_claro-4);
  padding: 0.1rem 0.4rem;
  border-radius: 30px;

  white-space: nowrap;
}

.password-input-wrapper {
  position: relative;
}

/* ICONO DEL OJARDOVICH*/
.toggle-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--vino-tema_claro-2);
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.toggle-password:hover {
  opacity: 0.7;
}
