.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/images/background-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  position: relative;
  color: var(--color1);
}

.login-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 2, 12, 0.849);
  z-index: 0;
}

.login-formulario {
  position: relative;
  z-index: 1;
  background-color: rgba(15, 3, 15, 0.842);
  color: var(--color1);
  text-align: center;
  padding: 4.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.199);
  min-width: 35%;
}

.login-formulario h2 {
  margin-bottom: 2.5rem;
  color: var(--color1);
}

.inputs {
  margin-bottom: 1rem;
  text-align: left;
}

.inputs label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color2);
}

.inputs input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color2);
  background-color: var(--color5);
  color: var(--color1);
}

.btn-add {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color1);
  color: var(--color5);
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out
}

.btn-add:hover {
  background-color: var(--color2);
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 3.5rem; /* espacio para el botón dentro del input */
}

/* Botón "Mostrar/Ocultar" dentro del campo de contraseña */
.toggle-password {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: var(--color2); /* usa tu color secundario, puedes cambiarlo */
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}

.toggle-password:focus {
  outline: none;
}
