<div class="toast-container">
  @for (t of toast.toasts(); track t) {
    <div class="toast" [ngClass]="t.type">
      <div class="toast-content">
        @if (t.type == 'success') {
          <img src="/assets/images/success-icon.png" alt="success">
        } @else {
          <img src="/assets/images/warning-icon-white.png" alt="warning">
        }
        <span class="toast-text">{{ t.message }}</span> 
      </div>

      <button class="toast-close-btn" (click)="toast.remove(t)">&times;</button>
    </div>
  }
</div>
