<section class="detalles">

  @if (pedido.estado === 'PENDIENTE') {
  <form>

    <div class="campo">
      <label for="productoId">Producto:</label>
      <select [(ngModel)]="nuevoDetalle.productoId" name="productoId">
        <option [ngValue]="null" disabled selected>Seleccione un producto</option>
        @for (producto of productos(); track $index) {
          <option [ngValue]="producto.producto_id">{{ producto.nombre }}</option>
        }
      </select>
    </div>

    <div class="campo">
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" [(ngModel)]="nuevoDetalle.cantidad" name="cantidad">
    </div>

    @if (pedido.tipo === 'COMPRA') {
      <div class="campo">
        <label for="costoUnitarioCompra">Costo Unitario:</label>
        <input type="number" id="costoUnitarioCompra" [(ngModel)]="nuevoDetalle.costoUnitario" name="costoUnitarioCompra">
      </div>
    }


    <div class="acciones-form">
      <button type="button" class="agregar-detalle" (click)="agregarDetalle()">
        {{ detalleEnEdicion() ? 'Actualizar' : 'Agregar' }}
      </button>

      @if (detalleEnEdicion()) {
        <button type="button" class="btn-cancel-detalle" (click)="cancelarEdicionDetalle()">
          Cancelar
        </button>
      }
    </div>

  </form>
  }


  @if (detallesPedido().length > 0) {
    <hr>
    <h3>Detalles Cargados ({{ detallesPedido().length }})</h3>

    <table class="tabla">
      <thead class="encabezado">
        <tr>
          <th>ID</th>
          <th>Cod.Prod</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Costo Unit</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody class="tablaBody">
        @for (detalle of detallesPedido(); track detalle.producto_id) {
          <tr>
            <td>{{ detalle.detallePedidoId }}</td>
            <td>{{ detalle.producto_id }}</td>
            <td>{{ detalle.producto_nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>${{ detalle.costoUnitario }}</td>
            <td>{{ detalle.subtotal }}</td>
            <td class="botones">
              <button
                class="btnEditar"
                (click)="editarDetalle(detalle)"
                [disabled]="pedido.estado === 'FINALIZADO'">
                Editar
              </button>
              <button
                class="btnEliminar"
                (click)="eliminarDetalle(detalle.detallePedidoId)"
                [disabled]="pedido.estado === 'FINALIZADO'">
                Eliminar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="total-pedido">
      <p>Total a Pagar:</p>
      <span>${{ total() }}</span>
    </div>
  }

</section>

