@import '../../../styles/form-style.scss';

.form-container::before {
  background-image: url('/assets/images/fondoRegistro.png');
}

.image {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 20%;
}

.image img {
  width: 80rem;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .image img {
        max-width: 400px;
    }
}
.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 3.5rem;
}

.toggle-password {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0;
  color: var(--color2);
}

.toggle-password:focus {
  outline: none;
}
