@import '../../../styles/form-style.scss';

.form-container::before {
  background-image: url('/assets/images/shop-wallpaper.jpg');
}

.image {
  display: flex;
  justify-self: flex-end;
  position: relative;
}

.image img {
  width: 28em;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .image img {
        max-width: 400px;
    }
}
