.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  background: var(--bg-pag2);
  border: 1px solid var(--borde);
  border-radius: 0.8rem;
  width: fit-content;
  margin: 0.5rem 0 0 1rem;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--letra1-leve);
  font-weight: 500;
  transition: 0.2s ease;
}

.breadcrumbs a:hover {
  color: var(--vino-tema_claro-2);
}

.breadcrumbs a.active {
  color: var(--letra1);
  font-weight: 600;
}

.breadcrumbs a::after {
  content: "›";
  margin: 0 0.5rem;
  color: var(--salmon-tema_claro-3);
}

.breadcrumbs a:last-child::after,
.breadcrumbs a.active::after {
  content: "";
}

/*ESTA CAGADA NO ESTÁ CONFIG AÚN SABÉS*/

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding: 0.2rem 1.25rem;
  }

  .breadcrumbs a {
    font-size: 3.3dvw;
  }
}
