@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color1: #FADDD5;
    --color2: #785D68;
    --color3: #6D3951;
    --color4: #4A1B34;
    --color5: #291C2C;
    --color6: #130412;
    /*Otros*/
    --blanco: white;
    --blanco-noFulminanteDeOjos: rgb(187, 187, 187);
    --blanco-semitrans: rgba(255, 255, 255, 0.274);
    --negro: black;
    --negro-semitrans: rgba(0, 0, 0, 0.322);
    --gris: grey;

    --amarillo: rgb(233, 191, 6);
    --amarillo-clarito: rgb(243, 216, 62);
    --amarillo-oscuro: rgb(146, 95, 0);
    --verde: rgb(61, 145, 13);
    --verde-clarito: rgb(102, 173, 61);
    --verde-oscuro: rgb(38, 94, 6);/*editar*/
    --azul: rgb(27, 65, 190);
    --azul-clarito: rgb(74, 101, 190);
    --azul-oscuro: rgb(16, 45, 143);/*editar*/
    --rojo: rgb(177, 18, 18);
    --rojo-clarito: rgb(179, 58, 58);
    --rojo-oscuro: rgb(122, 11, 11);/*editar*/

    --negro-semitrans: rgba(255, 255, 255, 0.1);
    --amarillo-semitrans: rgba(255, 196, 0, 0.1);
    --verde-semitrans: rgba(61, 145, 13, 0.1);
    --azul-semitrans: rgba(27, 65, 190, 0.1);
    --rojo-semitrans: rgba(177, 18, 18, 0.1);
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
}

*, ::before, ::after { box-sizing: border-box; }

main {
    background-color: #140f14;
    padding: 1rem 5%;
    min-height: 100%;
}

a { text-decoration: none; }

li { list-style: none; }

h1, h2, h3, h4, h5, h6 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Kanit", sans-serif;
}

p, span, label, :placeholder-shown, button, a, th, td {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: "Proza Libre", sans-serif;
    margin: 0;
}
