@import '../../../styles/form-style.css';

[formGroupName="direccion"] {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-aspect-ratio: 1/1) {
  .image {
    width: 30%;
  }

  .image img {
      max-width: 100%;
  }

  .form-container{
    gap: 1rem;
  }

}
