<head>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<header>
  <nav class="container">
    <div class="header-izq">
      <a href="/menu">
        <img src="https://i.pinimg.com/736x/97/b1/70/97b170d2f8f2dea37c4c465c8c9ceb14.jpg" alt="logo" class = "logo">
        <h1 class="titulo"> Mercado del Cerezo </h1>
      </a>
    </div>

    <div class="header-der">
      <img src="https://i.pinimg.com/736x/1f/9a/91/1f9a91d7e4bce09f89e82c89e9d40e8c.jpg" alt=""
          class = "user-icon icono-perfil-principal"
          (click)="toggleMenu()">

      <div class = "menu-desplegable"
          [ngClass]="{'abrir-menu': menuAbierto}">
        <div class = "contenedor-menu">
          <div class = "user-info">
            <img src="https://i.pinimg.com/736x/1f/9a/91/1f9a91d7e4bce09f89e82c89e9d40e8c.jpg" alt="" class = "user-icon">
            <h2>{{ authService.getPersonaName() || authService.getRole() }}</h2>
          </div>
          <hr>
          <div class="opciones-menu">
            <div class="opcion">
              <span class="material-symbols-outlined">home</span>
              <p>Inicio</p>
              <span>></span>
            </div>
            <div class="opcion">
              <span class="material-symbols-outlined">person_pin</span>
              <p>Ver perfil</p>
              <span>></span>
            </div>

            <div class="opcion" (click)="cerrarSesion()">
              <span class="material-symbols-outlined">logout</span>
              <p>Cerrar Sesión</p>
              <span>></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
