/* =========================
   LAYOUT
========================= */
.layout {
  display: flex;
  min-height: 100vh;
}

/* =========================
   CONTENIDO
========================= */

main.contenido {
  display: block;
  width: 100%;
  padding: 3rem;
  background: var(--bg-pag);
  box-sizing: border-box;
}

/* =========================
   HEADER
========================= */
.topbar h1 {
  font-size: 2.4rem;
  color: var(--letra1);
}

/* =========================
   DASHBOARD
========================= */
.dashboard {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* =========================
   CARDS
========================= */
.card {
  background: var(--bg-pag2);
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--borde);
  box-shadow: var(--sombra);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* grande */
.card.grande {
  height: 180px;
}

/* lateral */
.card.lateral {
  grid-row: span 2;
}

/* =========================
   ACCESOS
========================= */
.accesos h3 {
  margin-bottom: 1rem;
  color: var(--letra1);
}

.accesos-grid {
  display: flex;
  gap: 2rem;
}

/* MINI CARDS */
.mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--letra1);

  width: 90px;
  height: 90px;

  border-radius: 1rem;
  border: 1px solid var(--borde);
  background: var(--bg-pag2);

  transition: 0.2s ease;
}

.mini-card:hover {
  background: var(--salmon-tema_claro-2);
  border-color: var(--salmon-tema_claro-3);
  transform: translateY(-4px);
}

.mini-card img {
  width: 40px;
  margin-bottom: 5px;
}

.mini-card span {
  font-size: 0.85rem;
  color: var(--letra1-leve);
}
