
  <!-- CONTENIDO -->
  <main class="contenido">

    <header class="topbar">
      <h1>¡Hola, {{authService.getPersonaName() }}!</h1>
    </header>

    <section class="dashboard">

      <!-- RESUMEN -->
      <div class="card grande">
        <h3>Resumen</h3>
      </div>

      <!-- CARD DERECHA -->
      <div class="card lateral"></div>

      <!-- ACCESOS -->
      <div class="card accesos">
        <h3>Accesos rápidos</h3>

        <div class="accesos-grid">

          @if (auth.hasRole(['ADMIN','DUENIO','EMPLEADO'])){
          <a routerLink="/menu/personas" class="mini-card">
            <img src="/assets/images/persona-icon.png">
            <span>Personas</span>
          </a>
          }

          @if (auth.hasRole(['ADMIN','DUENIO','EMPLEADO'])){
          <a routerLink="/menu/productos" class="mini-card">
            <img src="/assets/images/productos-icon.png">
            <span>Productos</span>
          </a>
          }

          @if (auth.hasRole(['ADMIN','DUENIO','EMPLEADO'])){
          <a routerLink="/menu/pedidos" class="mini-card">
            <img src="/assets/images/pedido-icon.png">
            <span>Pedidos</span>
          </a>
          }

          @if (auth.hasRole(['ADMIN','DUENIO','EMPLEADO'])){
          <a routerLink="/menu/clientes" class="mini-card">
            <img src="/assets/images/clientes-icon.png">
            <span>Clientes</span>
          </a>
          }

          @if (auth.hasRole(['ADMIN','DUENIO','EMPLEADO'])){
          <a routerLink="/menu/cuentas-bancarias" class="mini-card">
            <img src="/assets/images/cuentaB-icon.png">
            <span>Cuentas Bancarias</span>
          </a>
          }

        </div>
      </div>

    </section>

  </main>


