.menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15dvw);
  justify-content: space-around;
}

.card {
  position: relative; /* Establece el marco de referencia para las im치genes internas */
  width: 13dvw;
  height: 17dvw;
}

.card a div {
  background-color: var(--gris);
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  box-shadow: var(--sombra-default);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* Position */
  position: absolute; /* Saca la imagen del flujo normal del documento */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Mueve la imagen hacia atr치s la mitad de su propio tama침o */
}

.icon {
  /* Tama침o del icon */
  width: 8dvw;
  height: 8dvw;
  filter: drop-shadow(0 0.41dvw 1px rgba(0, 0, 0, 0.2));
}

.card p {
  color: var(--blanco);
  font-weight: 300;
}

/*COLORES PARA LOS RECUADROS*/
#personas .personas-recuadro {
  background-color: var(--amarillo);
  box-shadow: var(--sombra-amarilla);
  filter: drop-shadow(0 0.6dvw 0px var(--amarillo-oscuro));
}
#personas .icon {
  filter: drop-shadow(0 0.4dvw 0px var(--amarillo-clarito));
}

#productos .productos-recuadro {
  background-color: var(--verde);
  box-shadow: var(--sombra-verde);
  filter: drop-shadow(0 0.6dvw 0px var(--verde-oscuro));
}
#productos .icon {
  filter: drop-shadow(0 0.4dvw 0px var(--verde-clarito));
}


#usuarios a .usuarios-recuadro {
  background-color: var(--azul);
  box-shadow: var(--sombra-azul);
  filter: drop-shadow(0 0.6dvw 0px var(--azul-oscuro));
}
#usuarios .icon {
  filter: drop-shadow(0 0.4dvw 0px var(--azul-clarito));
}

#tienda a .tienda-recuadro {
  background-color: var(--rojo);
  box-shadow: var(--sombra-roja);
  filter: drop-shadow(0 0.6dvw 0px var(--rojo-oscuro));
}
#tienda .icon {
  filter: drop-shadow(0 0.4dvw 0px var(--rojo-clarito));
}

h1, h2, p {
  color: white;
}
