.menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18dvw);
  justify-content: space-around;
  gap: 4rem;
}

.card {
  position: relative; /* Establece el marco de referencia para las im치genes internas */
  width: 18dvw;
  height: 22dvw;
}

.card a div {
  background-color: var(--gris);
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* Position */
  position: absolute; /* Saca la imagen del flujo normal del documento */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Mueve la imagen hacia atr치s la mitad de su propio tama침o */
}

.icon {
  /* Tama침o del icon */
    width: 10dvw;
    height: 10dvw;
}

.card p {
  color: var(--blanco);
  font-weight: 300;
}

/*COLORES PARA LOS RECUADROS*/
.card a .personas {
  background-color: var(--amarillo);
}
.card a .productos {
  background-color: var(--verde);
}
.card a .usuarios {
  background-color: var(--azul);
}
.card a .tienda {
  background-color: var(--rojo);
}

h1, h2, p {
  color: white;
}
